.venv/
venv/
node_modules/
structured_data_wizard/frontend/node_modules/
structured_data_wizard/frontend/dist/
wizard_storage/
*.pyc
__pycache__/
db.sqlite3
db.sqlite3.backup
media/
uploads/
ml_engine/